@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');
$o-blue: #0D7FC0;
$o-green: #0DAAC0;

$family-sans-serif: "IBM Plex Sans", sans-serif;
$primary: $o-blue;
$button-border-width: 1px;

$button-padding-horizontal: 4em;
$button-padding-vertical: calc(1.5em - #{$button-border-width});

@import "../../../node_modules/bulma/bulma.sass";

h1, h2, h3, h4, h5, h6 {
    padding-bottom: .25em;
}

.o-page {
    padding-bottom: 2em;
}

.o-part {
    padding-bottom: 2em;
}

.info-pane {
    background-color: #ddd;
    padding: 1em;
}

.is-borderless {
    border-width: 0px;
}

.is-clear {
    background-color: transparent;
}

.key-stat {
    margin-bottom: 1em;
}

.key-button {
    margin-bottom: 1em;
}

.minor-button {
    border-width: 0px;
    background-color: transparent;
}

.light-green-background {
    background-color: #0DAAC033
}
